

/* Global Styles    /* always add box model to your projects */

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #F0FFF0;


}
   
header {
background-image: url(../images/jessy-smith-zFOm6KzA-7g-unsplash.jpg);
background-size: cover;
width:100vw;
height:57vw;
color: black;
/*padding: 10px;*/
font-weight: bold;
text-align: center;
  
}



/****************************************/

.tab {
    padding-top: 23px;
}
.button {            
    /*text-align: right;  
    margin-right: 7%;
    padding-top: 11px;
    padding-bottom: 11px;*/
    font-size: 19px;
   
    border: 2px solid  #000000;
    width: 10%;
    margin-left: 82%;
    border-radius: 8px;    
    
}



.button a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding-top: 10px;    
}


/****************************************/








img {
    max-width: 100%;
}




header h1 {
   font-size: 36px;
   text-align: center;
   color: white;
   padding-top: 22%;
    margin-left: 15px;

}

header h2 {
font-size: 36px;
   text-align: center;
   color: white;
     margin-left: 0px;
}

.content-wrapper {
   /* padding-top: 3%;*/
}

/* Description html header */


.description {  
    padding-top: 29%;
}

.description a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 38px;
}


/* personal projects html header */

.personal a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 38px;
}

.personal {
    padding-top: 29%;
    color: white;
   
}

/* About Me Profile */

.about {
    max-width: 100%;    
}

.profile img {
    max-width: 100%;
    margin-left: 37%;
    padding-top: 30px;
    padding-bottom: 50px;
}

.profile h1 {
    padding-top: 50px;
    font-size: 40px;
    margin-right: 40px;
  
}

.profile p {
    max-width: 760px;
    margin: 0 auto;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 50px;
  
}

/* Personal Projects/Portfolio */

 h1 {
    text-align: center;
}

.content {
padding-bottom: 50px;
}


.content p {
    padding: 40px;
    text-align: center;
}



.portfolio {  
    background-color: #000000;
    /* can use max- width if need */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    color: black;
    padding: 50px;
    text-align: center;
}


/*.portfolio a {
    color: #F5F5F5;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
}*/




.divider {
    border-top: 2px solid black;     
}




.portfolio__item {
    /*background: var(--clr-accent);  can change color*/ 
    overflow: hidden;
}

.portfolio__img {
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: .5;
}


h3{
    padding-top: 30px;
    text-align: center;
}

ol {
    margin-left: 26%;
    width: 45%;
    padding-top: 30px;
    padding-bottom: 50px;
}

#info2 ol {
     margin-left: 36%;
    width: 45%;
    padding-top: 30px;
    padding-bottom: 50px;
}





/* Education */



/* Contact Info*/
/*------------------------------------------- */


footer {
    text-align: center;
    background-color:#F0FFF0;
    padding: 5px;
}

.footer a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
}

footer h1 {
    font-size: 40px;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}





/* Responsive
/*------------------------------------------- */

/*------------------------------------------*/




/* Portrait tablet and small desktops 
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet 
@media (max-width: 768px) {
}

/* Landscape phones and down 
@media (max-width: 480px) {
}**/


/* Landscape phones and down 
@media (max-width: 414px) {
}**/


/* Landscape phones and down 
@media (max-width: 375px) {
}**/

/* Landscape phones and down 
@media (max-width: 360px) {
}**/


/******************** Responsive*********************************/
/*@media (max-width: 1024px) {
    #index .profile img {
        margin-left:344px;
    }
    #index .portfolio {
        width: 92%;
    }
    #index .social-list {
        margin-right: 32px;
    }
    #index footer h1 {
        margin-right: 10px;
    }
    #projects .portfolio {
        width: 90%;
    }
    #info .portfolio {
        width: 90%;
    }
    
    #index .divider {
        border-top: 2px solid black; 
        width: 103%;
    }
}*/







/*****************************************************/
@media (max-width: 1024px) {
    #index .profile img {
        margin-left:344px;
    }
    #index .portfolio {
        width: 92%;
    }
    #index .social-list {
        margin-right: 32px;
    }
    #index footer h1 {
        margin-right: 10px;
    }
    #projects .portfolio {
        width: 90%;
    }
    #info .portfolio {
        width: 90%;
    }
     #info2 .portfolio {
        width: 90%;
    }
    
    #index .divider {
    border-top: 2px solid black; 
        width: 103%;
    }
    
    #index .tab {
        padding-top: 35px;
    }
    
    #index header h1 {
        padding-top: 18%;
}



/*****************************************************/
@media (max-width: 940px) {
    #index .profile img {
        margin-left: 298px;
    }
    #index header {
        width: 102%;
        height: 553px;
    }
    #index header h1 {
        font-size: 34px;
        padding-top: 151px;
    }
    #index header h2 {
        font-size: 34px;
    }
    
    #index .profile h1 {
        margin-left: 35px;
    }
    
    #index .portfolio {
        width: 91%;
    }
    #index footer h1 {
        margin-left: 15px;
    }
    #index .social-list {
        margin-right: 10px;
    }
    #projects header {
        width: 100%;
        height: 543px;
    }
    #projects .portfolio {
        width: 90%;
    }
    #projects .social-list {
        margin-right: 12px;
    }
    #info header {
        width: 101%;
        height: 548px;
    }
    #info .content p {
        font-size: 17px;
    }
    #info .portfolio {
        width: 90%;
    }
    #info .description a {
         padding-top: 10px;
    }
    #info .social-list {
        margin-right: 12px;
    }
    
    
    #info2 header {
        width: 101%;
        height: 548px;
    }
  
    #info2 .portfolio {
        width: 90%;
    }
    #info2 .description a {
         padding-top: 10px;
    }
    #info2 .social-list {
        margin-right: 12px;
    }
    #info2 ol {
    margin-left: 29%;
    width: 45%;
    padding-top: 30px;
    padding-bottom: 50px;
    }
    
     #index .divider {
        border-top: 2px solid black; 
        width: 100%;
    }
    
     #index .divider {
    border-top: 2px solid black; 
        width: 102%;
    }
}



/*****************************************************/

@media (max-width: 768px) {
    #index header h1 {
        font-size: 28px;
        padding-top: 118px;
    }
    #index header h2{
        font-size: 28px;

    }
    #index header {
        width:101%;
        height: 448px;
    }
    
   
    
    #index .profile img {
        margin-left: 222px;

    }
    #index .profile p {
        width: 600px;
        margin-left: 100px;
    }
    #index .portfolio {
        width: 87%;
    }
    #index footer h1 {
        margin-right: 8px;
    }
    #index .social-list {
        margin-left: 0px;
    }
    #projects header {
        width:101%;
        height: 444px;
    }
    #projects .personal a {
        font-size: 35px;
    }
    #projects .portfolio {
        width: 88%;
    }
    #projects footer h1 {
        margin-left: 0px;
    }
    #projects .social-list {
        margin-left: 0px;
    }
    #info header {   /* if you chose to you can take the width and height of the header for width 768*/
        width:101%;
        height: 444px;
    }
    #info footer h1 {
        margin-left: 0px;
    }
    #info .portfolio  {
        width: 88%;
    }
    #info .social-list {
        margin-left: 0px;
    }
    
    
      #info2 header {  
        width:101%;
        height: 448px;
    }
    #info2 footer h1 {
        margin-left: 0px;
    }
    #info2 .portfolio  {
        width: 88%;
    }
    #info2 .social-list {
        margin-left: 0px;
    }
    
    #index .divider {
    border-top: 2px solid black; 
        width: 101%;
    }
    
    #index .button {
        width: 12%;
    }


}

/********************************************/
@media (max-width: 480px) {
    #index header {
        width: 101%;
        height: 280px;
    }
    #index header h1 {
        font-size: 18px;
        margin-left: 0px;
        padding-top: 54px;
    }
    #index header h2 {
        font-size: 18px;
        margin-left: 0px;

    }
    #index .portfolio {
        width: 79%;
    }
    #index .profile h1 {
        margin-left: 55px;
        font-size: 34px;
    }
    #index .footer a {
        margin-left: 0px;
        font-size: 25px;
    }
    #index .profile img {
        margin-left: 80px;
    }
    #index .profile p {
        width: 400px;
        margin-left: 55px;
    }
    #projects header {
        width: 100%;
        height: 277px;
    }
    #projects .personal a {
        font-size: 22px;
        margin-left: 0px;
    }
    #projects .portfolio {
        width: 79%;
    }
    #projects footer h1 {
        margin-left: 0px;
    }
    #projects .footer a {
        margin-left: 0px;
        font-size: 25px;
    }
    #projects .social-list {
        margin-right: 20px;
    }
    #info header {
        width: 104%;
        height: 288px;
    }

    #info .description a {
        font-size: 28px;
        margin-left: 6px;
    }
    
    #info ol {
        line-height: 1.7;
        margin-left: 13%;
        width: 64%;
    }
    
    
    #info .portfolio {
        width: 83%;
    }
    #info footer h1 {
        margin-left: 0px;
    }
    #info .footer a {
        font-size: 25px;
        margin-left: 0px;
    }
    #info .social-list {
        margin-left: 0px;
    }
    
    
     #info2 header {
        width: 100%;
        height: 277px;
    }

    #info2 .description a {
        font-size: 26px;
        margin-left: 6px;
    }
  
    #info2 ol {
        line-height: 1.7;
        margin-left: 13%;
        width: 64%;
    }
    #info2 .portfolio {
        width: 79%;
    }
    #info2 footer h1 {
        margin-left: 0px;
    }
    #info2 .footer a {
        font-size: 27px;
        margin-left: 0px;
    }
    #info2 .social-list {
        margin-left: 0px;
    }
    
    #index .divider {
    border-top: 2px solid black; 
        width: 101%;
    }
    
    #index .tab {
        padding-top: 22px;
    }
    
     #index .button {
       width: 19%;
       margin-left: 74%;
    }
        
    
}







/* ------------------------------------------*/
@media (max-width: 414px) {
    #index header {
        width: 100%;
        height: 239px;
    }
    #index header h1 {
        font-size: 17px;
        padding-top: 39px;
    }
    #index header h2 {
        font-size: 17px;
    }
    #index .profile h1 {
        margin-left: 30px;
        font-size: 34px;
    }
    #index .profile img {
        margin-left: 62px;
        width: 70%;
    }
    #index .profile p {
        width:312px;
        margin-left: 58px; 
        font-size: 12px; 
    }
    #index .portfolio {
        width: 76%;
    }
    #index footer h1 {
        font-size: 34px;
        margin-left: 0px;
    }
    #index .footer a {
        margin-left: 0px;
        font-size: 22px
    }
    #index .social-list {
        margin-right: 15px;
    }

    #projects header {
        width: 101%;
        height: 241px;
    }
    #projects .personal a {
        font-size: 18px;
        margin-left: 0px;
    }
    #projects .portfolio {
        width: 76%;
    }
    #projects footer h1 {
        font-size: 34px;
        margin-right: 18px; 
    }
    #projects .footer a {
        margin-left: 2px;
        font-size: 22px
    }
    #projects .social-list {
        margin-right: 27px;
    }
    #info header {
        width: 101%;
        height: 241px;
    }
    #info .description a {
        font-size: 24px;
        margin-right: 6px;
    }
   
     #info ol {
        line-height: 1.7;
        margin-left: 13%;
        width: 64%;
    }
    
    
    #info .portfolio {
        width: 76%;
    }
    #info footer h1 {
        font-size: 34px;
        margin-right: 18px;  
    }
    #info .footer a {
        margin-left: 0px;
        font-size: 22px;
    }
    #info .social-list {
        margin-right: 29px;
    }
    
    


    #info2 header {
        width: 101%;
        height: 241px;
    }
    #info2 .description a {
        font-size: 23px;
        margin-left: 6px;
    }
  

    #info2 ol {
        line-height: 1.7;
        margin-left: 13%;
        width: 64%;
    }

    #info2 .portfolio {
        width: 76%;
    }
    #info2 footer h1 {
        font-size: 34px;
        margin-right: 18px;  
    }
    #info2 .footer a {
        margin-left: 0px;
        font-size: 22px;
    }
    #info2 .social-list {
        margin-right: 29px;
    }
    
    #index .divider {
    border-top: 2px solid black; 
        width: 100%;
    }
    
    #index .button {
        width: 21%;
        margin-left: 74%;
    }
  
}

    



/*------------------------------------------- */


@media (max-width: 375px) {
    #index header {
        width: 103%;  
        height: 223px;
    }
    #index header h1 {
        font-size: 15px;
        margin-left: 0px;
        padding-top: 33px;
    }
    #index header h2 {
        font-size: 15px;
        margin-left: 0px;
    }
    #index .content-wrapper {
        padding-bottom: 0px;
    }
    #index .profile h1 {
        margin-left: 30px;
        font-size: 34px;
    }
    #index .profile img {
        margin-left: 66px;
        width: 70%;
    }
    #index .profile p {
        width:312px;
        margin-left: 44px; 
        font-size: 12px; 
    }
    #index .portfolio {
        width: 74%;
    }
    #index .portfolio a {
        font-size: 36px;
        margin-right: 23px;
    }
    #index footer h1 {
        font-size: 30px;
        margin-left: 9px;
    }
    #index .footer a {
        margin-left: 0px;
        font-size: 20px;
    }
    #index .social-list {
        margin-left: 8px;
    }
    #projects header {
        width: 102%;  
        height: 221px;
    }
    #projects .personal a {
        font-size: 17px;
        margin-left: 0px;
    }
    #projects .portfolio {
        width: 78%;
        margin-left: -10px;
    }
    #projects footer h1 {
        font-size: 30px;
        margin-left: 18px;
    }
    #projects .footer a {
        margin-left: 0px;
        font-size: 20px;
    }
    #projects .social-list {
        margin-left: 25px;
    }
    #info header {
        width: 105%;
        height: 227px;
    }
   
    #info .description a {
        font-size: 22px;
        margin-right: 7px;
    }
    #info h3 {
        margin-left: 20px;
    }
    
    #info ol {
        line-height: 1.7;
        margin-left: 9%;
        width: 70%;
    }
    #info .portfolio {
        width: 78%;
        margin-left: 1px;
    }
    #info footer h1 {
        font-size: 30px;
        margin-left: 18px;
    }
    #info .footer a {
        margin-left: 0px;
        font-size: 21px;
    }
    #info .social-list {
        margin-left: 25px;
    }
    #info2 header {
        width: 102%;
        height: 221px;
    }
    
    
      #info2 .description a {
        font-size: 22px;
          margin-left: 0px;
    }
    
  
    #info2 h3 {
        margin-left: 20px;
    }

    #info2 ol {
        line-height: 1.7;
        margin-left: 9%;
        width: 70%;
    } 
    #info2 .portfolio {
        width: 78%;
        margin-left: -10px;
    }
    #info2 footer h1 {
        font-size: 34px;
        margin-left: 18px;
    }
    #info2 .footer a {
        margin-left: 0px;
        font-size: 20px;
    }
    #info2 .social-list {
        margin-left: 22px;
    }
    
    #index .divider {
    border-top: 2px solid black; 
        width: 103%;
    }
    
    #index .button {
        width: 23%;
        margin-left: 70%;
    }

}



/*--------------------------------------*/


@media (max-width: 360px) {    
    #index header {
        width: 108%;  
        height: 224px;
    }

    #index header h1 {
        font-size: 14px;
        margin-left: 0px;
        padding-top: 43px;
    }
    #index header h2 {
        font-size: 15px;
        margin-left: 5px;
    }
     #index .profile h1 {
       font-size: 34px;
       margin-left: 45px;
    }
    #index .profile img {
        margin-left: 72px;
        width: 70%;
    }
    #index .profile p {
        width:316px;
        margin-left: 33px;  
    }
    

    #index .portfolio {
       width: 77%;
       margin-left: 2px;
    }
    #index .portfolio a {
        margin-right: 12px;
        font-size: 36px;
    }
    #index footer h1 {
        font-size: 29px;
        margin-left: 8px;
    }
    #index .footer a {
        font-size: 19px;
        margin-left: 0px;
        
    }
    #index .social-list {
        margin-left: 7px;
    }



    #projects header {                        
        width: 100%;  
        height: 208px;
    }
    #projects .personal a {                   
        font-size: 16px;
        margin-left: 3px;
    }
    
    #projects .portfolio  {            
        width: 77%;
        margin-left: -15px;
    }
    #projects .footer h1 {
        font-size: 29px;
        margin-left: 25px;
    }
    #projects .footer a {
        font-size: 19px;
        margin-left: 0px;
    }
    #projects .social-list {
        margin-left: 23px;
    }


    #info header {
         width:105%;
        height: 218px;
    }
    #info .description {
        padding-bottom: 0px;
    }

    #info .description a {                  
        font-size: 22px;
        margin-left: 0px;
    }
    #info ol {
       line-height: 1.7;
        margin-left: 9%;
        width: 70%;
    }

  
    #info .portfolio {
        width: 77%;
        margin-left: 1px;
    }
    #info .footer h1 {
        font-size: 29px;
        margin-left: 25px;
    }
    #info .footer a {
        font-size: 21px;
        margin-left: 0px;
    }
    #info .social-list {
        margin-left: 23px;
    }
    
     #info2 header {
        width: 101%;
        height: 210px;
    }
    #info2 .description {
        padding-bottom: 0px;
    }

    #info2 .description a {                  
        font-size: 21px;
        margin-left: 0px;
    }

 
    #info2 ol {
        line-height: 1.7;
        margin-left: 9%;
        width: 70%;
    }
    #info2 .portfolio {
        width: 77%;
        margin-left: -15px;
    }
    #info2 .footer h1 {
        font-size: 29px;
        margin-left: 8px;
    }
    #info2 .footer a {
        font-size: 19px;
        margin-left: 0px;
    }
    #info2 .social-list {
        margin-left: 20px;
    }
    
    #index .divider {
    border-top: 2px solid black; 
        width: 108%;
    }
    
    #index .button {
        width: 25%;
        margin-left: 69%;
        {
}
       
/***********************************************************************/



/*------------------------------------------------------------------*/
/* a readME file on GitHub examples what your projects/application does, how to install anything to get your application to run, the technologies used in the application, colaborators if any, liscense is it publicly available to use */
/*Photo by Raphael Schaller on Unsplash sneaker image

<a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, 
&quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:i
nline-block;border-radius:3px" href="https://unsplash.com/@raphaelphotoch?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" 
target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Raphael Schaller"><span style="display:inline-block;
padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32">
<title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Raphael Schaller</span></a>


Photo by Berkay Gumustekin on Unsplash toronto skyline

<a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, 
Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" 
href="https://unsplash.com/@berkaygumustekin?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do 
whatever you want high-resolution photos from Berkay Gumustekin"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" 
style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z">
</path></svg></span><span style="display:inline-block;padding:2px 3px">Berkay Gumustekin</span></a>


Photo by Jessy Smith on Unsplash






