

/* Global Styles    /* always add box model to your projects */

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #F0FFF0;


}
   
header {
background-image: url(../images/jessy-smith-zFOm6KzA-7g-unsplash.jpg);
background-size: cover;
width:100vw;
height:57vw;
color: black;
padding: 10px;
font-weight: bold;
text-align: center;
  
}

img {
    max-width: 100%;
}




header h1 {
   font-size: 40px;
   text-align: center;
   color: white;
   padding-top: 24%;

}

header h2 {
font-size: 40px;
   text-align: center;
   color: white;
}




/* Description html header */


.description {  
    padding-top: 28%;
}

.description a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
}


/* personal projects html header */

.personal a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
}

.personal {
    padding-top: 29%;
    color: white;
   
}

/* About Me Profile */

.about {
    max-width: 100%;
    background-color: 
     
}

.profile img {
    max-width: 100%;
    margin-left: 37%;
    padding-top: 30px;
    padding-bottom: 50px;
}

.profile h1 {
    padding-top: 30px;
    text-align: center;
  
}

.profile p {
    max-width: 760px;
    margin: 0 auto;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 50px;
  
}

/* Personal Projects/Portfolio */

 h1 {
    text-align: center;
}

.content {
padding-bottom: 50px;
}


.content p {
    padding: 40px;
    text-align: center;
}




.portfolio {  
    background-color: #000000;
    /* can use max- width if need */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    color: black;
    padding: 50px;
    text-align: center;
}



.portfolio a {
    color: #F5F5F5;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
}




.portfolio__item {
    /*background: var(--clr-accent);  can change color*/ 
    overflow: hidden;
}

.portfolio__img {
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}



.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: .5;
}





/* Education */



/* Contact Info*/
/*------------------------------------------- */


footer {
    text-align: center;
    background-color:#F0FFF0;
    padding: 5px;
}

.footer a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
}

footer h1 {
    font-size: 40px;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}





/* Responsive
/*------------------------------------------- */

/*------------------------------------------*/




/* Portrait tablet and small desktops 
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet 
@media (max-width: 768px) {
}

/* Landscape phones and down 
@media (max-width: 480px) {
}**/


/* Landscape phones and down 
@media (max-width: 414px) {
}**/


/* Landscape phones and down 
@media (max-width: 375px) {
}**/

/* Landscape phones and down 
@media (max-width: 360px) {
}**/


/******************** Responsive*********************************/
@media (max-width: 1024px) {
    #index .profile img {
        margin-left:340px;
    }
}







/*****************************************************/
@media (max-width: 940px) {
    #index .profile img {
        margin-left: 306px;
    }
    #index .portfolio {
        width: 92%;
    }
    #projects .portfolio {
        width: 92%;
    }
    #info .portfolio {
        width: 92%;
    }
}



/*****************************************************/

@media (max-width: 768px) {
    #index header h1 {
        font-size: 30px;
    }
    #index header h2{
        font-size: 30px;

    }
    #index .profile img {
        margin-left: 215px;

    }
    #index .profile p {
        width: 600px;
    }
    #index .portfolio {
        width: 90%;
    }
    #index footer h1 {
        margin-left: 10px;
    }
    #projects .personal a {
        font-size: 35px;
    }
    #projects .portfolio {
        width: 90%;
    }
    #projects footer h1 {
        margin-left: 20px;
    }
    #info footer h1 {
        margin-left: 20px;
    }
    #info .portfolio  {
        width: 90%;
    }


}

/********************************************/
@media (max-width: 480px) {
    #index header {
        width: 107%;
        height: 287px;
    }
    #index header h1 {
        font-size: 20px;
        margin-left: 0px;
    }
    #index header h2 {
        font-size: 20px;
        margin-left: 0px;

    }
    #index .profile h1 {
        margin-left: 52px;
    }
    #index .profile img {
        margin-left: 104px;
    }
    #index .profile p {
        width: 400px;
        margin-left: 90px;
    }
    #projects .personal a {
        font-size: 23px;
        margin-left: 8px;
    }
    #projects .portfolio {
        width: 83%;
    }
    #projects footer h1 {
        margin-left: 20px;
    }
    #projects .footer a {
        margin-left: 0px;
        font-size: 30px;
    }
    #projects .social-list {
        margin-left: 0px;
    }
    #info .description a {
        font-size: 33px;
        margin-left: 6px;
    }
    #info .content p {
        width: 413px;
    }
    #info .portfolio {
        width: 84%;
    }
    #info footer h1 {
        margin-left: 15px;
    }
    #info .footer a {
        font-size: 30px;
        margin-left: 0px;
    }
    #info .social-list {
        margin-left: 0px;
    }
}







/* ------------------------------------------*/
@media (max-width: 414px) {
    #index header {
        width: 114%;
        height: 265px;
    }
    #index header h1 {
        font-size: 20px;
    }
    #index header h2 {
        font-size: 20px;
    }
    #index .profile h1 {
        margin-left: 75px;
    }
    #index .profile img {
        margin-left: 80px;
    }
    #index .profile p {
        margin-left: 62px;
        width: 400px;
    }
    #index .portfolio {
        width: 95%;
    }
    #index footer h1 {
        font-size: 38px;
        margin-left: 80px;
    }
    #index .footer a {
        margin-left: 6px;
        font-size: 29px
    }
    #index .social-list {
        margin-left: 55px;
    }

    #projects header {
        width: 116%;
        height: 269px;
    }
    #projects .personal a {
        font-size: 21px;
    }
    #projects .portfolio {
        width: 97%;
    }
    #projects .footer h1 {
        font-size: 36px;
        margin-left: 100px;
    }
    #projects .footer a {
        margin-left: 2px;
    }
    #projects .social-list {
        margin-left: 96px;
    }
    #info header {
        width: 115%;
        height: 266px;
    }
    #info .description a {
        font-size: 28px;
    }
    #info .content p {
        width: 413px;
        margin-left: 5px;
    }
    #info .portfolio {
        width: 96%;
    }
    #info footer h1 {
        font-size: 38px;
        margin-left: 100px;   50px;
    }
    #info .social-list {
        margin-left: 86px;
    }

    
}


/*------------------------------------------- */



@media (max-width: 375px) {
    #index header {
        width: 125%;  
        height: 256px;
    }
    #index header h1 {
        font-size: 19px;
    }
    #index header h2 {
        font-size: 19px;
    }
    #index .profile h1 {
        margin-left: 110px;
    }
    #index .profile img {
        margin-left: 74px;
    }
    #index .profile p {
        width:410px;
        margin-left: 53px;  
    }
    #index .portfolio {
        width: 104%;
    }
    #index footer h1 {
        font-size: 36px;
        margin-left: 99px;
    }
    #index .footer a {
        margin-left: 6px;
    }
    #index .social-list {
        margin-left: 85px;
    }
    #projects header {
        width: 127%;  
        height: 267px;
    }
    #projects .personal a {
        font-size: 21px;
        margin-left: 0px;
    }
    #projects .portfolio {
        width: 106%;
    }
    #projects footer h1 {
        font-size: 38px;
        margin-left: 100px;
    }
    #projects .footer a {
        margin-left: 0px;
    }
    #projects .social-list {
        margin-left: 93px;
    }
    #info header {
        width: 127%;
        height: 267px;
    }
   
    #info .description a {
        font-size: 29px;
    }
    #info .content p {
        width:366px;
        margin-left: 15px; 
    }
    #info .portfolio {
        width: 106%;
    }
    #info footer h1 {
        font-size: 38px;
        margin-left: 95px;
    }
    #info .footer a {
        margin-left: 0px;
    }
    #info .social-list {
        margin-left: 90px;
    }
}


/*--------------------------------------*/


@media (max-width: 360px) {    
    #index header {
        width: 301%;  
        height: 616px;
    }

    #index header h1 {
        font-size: 37px;
        margin-left: 10px;
    }
    #index header h2 {
        font-size: 39px;
        margin-left: 10px;
    }
     #index .profile h1 {
       font-size: 40px;
       margin-left: 478px;
    }
    #index .profile img {
        margin-left: 365px;
        width: 100%;
    }
    #index .profile p {
        width:496px;
        margin-left: 320px;  
    }
    #index .projects {
        width: 268%;
    }
    #index .portfolio a {
        margin-right: 35px;
    }
    #index footer h1 {
        font-size: 40px;
        margin-left: 454px;
    }
    #index .footer a {
        font-size: 40px;
        margin-left: 64%;
        
    }
    #index .social-list {
        margin-left: 144%;
    }



    #projects header {                        
        width: 188%;  
        height: 384px;
    }
    #projects .personal a {                   
        font-size: 32px;
        margin-left: 3px;
    }
    
    #projects .portfolio  {            
        width: 165%;  
    }
    #projects .footer h1 {
        font-size: 40px;
        margin-left: 260px;
    }
    #projects .footer a {
        font-size: 40px;
        margin-left: 5%;
    }
    #projects .social-list {
        margin-left: 325px;
    }


    #info header {
        width: 137%;
        height: 277px;
    }

    #info .description a {                  
        font-size: 31px;
        margin-left: 0px;
    }

    #info .content p {
        width:412px;
        margin-left: 10px;
    }
    #info .portfolio {
        width: 115%;
    }
    #info .footer h1 {
        font-size: 38px;
        margin-left: 125px;
    }
    #info .footer a {
        font-size: 30px;
        margin-left: 8px;
    }
    #info .social-list {
        margin-left: 110px;
    }
       
}




/*------------------------------------------------------------------*/
/* a readME file on GitHub examples what your projects/application does, how to install anything to get your application to run, the technologies used in the application, colaborators if any, liscense is it publicly available to use */
/*Photo by Raphael Schaller on Unsplash sneaker image

<a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, 
&quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:i
nline-block;border-radius:3px" href="https://unsplash.com/@raphaelphotoch?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" 
target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Raphael Schaller"><span style="display:inline-block;
padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32">
<title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Raphael Schaller</span></a>


Photo by Berkay Gumustekin on Unsplash toronto skyline

<a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, 
Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" 
href="https://unsplash.com/@berkaygumustekin?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do 
whatever you want high-resolution photos from Berkay Gumustekin"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" 
style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z">
</path></svg></span><span style="display:inline-block;padding:2px 3px">Berkay Gumustekin</span></a>


Photo by Jessy Smith on Unsplash






