
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }



html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}



body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: raleway;
}

                    
.wrapper {                      /* max-width: 1140px */
	max-width: 1100px;
	margin: 0 auto;
}


img {
    max-width: 100%;
    max-height: 100%;
}



/*header */


header  {
    background-image: url(../images/image-main.jpeg);
    background-size: cover;
    width:100vw;
    height:54vw;
    padding-top: 20px;
}

header p{
    padding-top: 150px;
    padding-left: 100px;
    font-size: 58px;
    color: #333333;
}



h2 {
    font-size: 38px;
    font-weight: 700;
    color: #005769;
    position: absolute;
    top: 0px;
    left: 100px;
}

header {
    display: flex;
}

 .nav {
    margin-left: 30px;
}







.nav ul {
    display: flex;
    list-style: none;
    font-size: 19px;
    font-weight: 700;
    color: #333333;

}

.nav li {
    justify-content: space-between;
    margin: 10px;
  
}

.nav a {
    color: #333333;
    text-decoration: none;
}

 .button {
    font-size: 19px;
    background-color: #16D6D1;
    border: 0px solid  #16D6D1;
    font-family: 'Raleway', sans-serif;
}


/*body*/

.container {
    padding-top: 40px;
    padding-left: 60px;
}
.container2 {
    padding-left: 10px; 
}


.item1 {
    display: flex;
   
}

.item1 img {
    width: 30vw; 
    height: 53vw;
}

.img-text {
   display: block;
    margin: 0 auto;

}

.img-text img {
    width: 64vw; 
    height: 25vw; 
    padding-right: 30px; 
    padding-left: 40px;
}

.text {
    border: 2px solid #F6F8FA;
    background-color: #F6F8FA;
    margin-left:40px;
    margin-right: 54px;
    padding-top: 50px;
    padding-bottom: 65px;
}

.text h3 {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color:  #777777;

}


.text p {
    text-align: center;
    background-color: #F6F8FA;
    font-size: 39px;
    font-family: raleway;
    font-weight: 500;
    text-transform: uppercase;
}


.btn {
  text-align: center;                     /*button not centering*/
  font-size: 19px;
  background-color: #16D6D1;
  border: 0px solid;
  border-radius: 16px;
  margin-left: 33%;
  margin-right: 30%;

 

}

.container2 {
    padding-top: 30px;
}

.container2 img {
    width: 62vw; 
    height: 25vw; 
    padding-left: 49px;
  
}

.item2 {
    float: right;
}
.item2 img {
    width: 37vw; 
    height: 55vw; 
    padding-right: 51px;
}

.img-text2 {
    background-color: #F6F8FA;
    margin-left:48px;
    margin-right: 37.5%;
    padding-top: 20px;
    padding-bottom: 111px;
    
}

.img-text2 h4 {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color:  #777777;

}

.img-text2 p {
    text-align: center;
    font-size: 39px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
  
}

.btn1 {
  text-align: center;                    /*button not centering*/
  font-size: 19px;
  background-color: #16D6D1;
  border: 0px solid;
  border-radius: 16px;
  margin-left: 33%;
  margin-right: 30%;
}



.img-container{
    display: inline-flex;
   padding-top: 30px;
   padding-bottom: 30px;
   margin-left: 10px;
}

.img1 img {
    width: 32vw;
    height: 43vw;
    padding-left: 49px;
    padding-right: 25px;
    
}

.img2 img {
    width: 32vw;
    height: 43vw;
    padding-right: 20px;
    padding-left: 24px;
   
}
.img3 img {
    width: 32vw;
    height: 43vw;
    padding-left: 25px;
    
  
}































/*footer */

footer {
    background: #F6F8FA;
    padding-top: 30px;
}

footer h3 {
    font-size: 38px;
    font-weight: 700;
    color: #005769;
    position: absolute;
    left: 200px;
}


.links {                                /* may need to change */
    display: flex;
    /*justify-content: center;*/
    margin-left: 45%;
}




.links  ul {
    list-style: none;
    font-size: 19px;
    font-weight: 700; 
 
}

.links li { 
    margin: 10px;
 
}

.links  a {
    text-decoration: none;
    color: #333333; 
}




.footer {
    font-size: 20px;
    color: #777777;
    padding-left: 200px;
}


.info  {
  
    font-size: 20px;
    font-weight: 500;
    color: #777777;
    margin-left: 40px;
}

.copyright {
    padding-top: 100px;
}

.copyright p {
    float: right;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 500px;
    color: #777777;  
}




/************************Responsive**********************************/


@media (max-width: 940px) {

header p {
    font-size: 26px;
}
.container2 {
    padding-left: 8px;
}

.text p {
    font-size: 20px;
}
.text {
    padding-bottom: 48px;
    margin-right: 28px;
}

.item2 img {
    padding-right: 34px;
}
.img-text2 {
    padding-bottom: 86px;
}
.img-text2 p {
    font-size: 20px;
}
.img1 img {
    padding-left: 46px;
    padding-right: 0px;
}
.img2 img{
    padding-right: 16px;
}
.img3 img {
  padding-right: 0px;
}
.links {
    margin-left: 250px;
 
}
.footerContainer5 {
    margin-left: 37px;
}
.links li {
    font-size: 16px;
}
.info p {
    font-size: 16px;
}
footer {
    padding-bottom: 50px;
}

footer h3 {
   font-size: 30px;
   margin-left: -103px;
}




/**********************************************************/


@media (max-width: 768px) {
    header p {
        font-size: 19px;
        margin-right: 74px;
}
header h2 {
    margin-left: -4px;
    font-size: 25px;
    padding-top: 36px;
}
.container {
    padding-left: 50px;
}
.container2 {
    padding-left: 0px;
}
.img-container {
    padding-right: 9px;
    padding-left: 0px;
}
.nav {
    margin-right: 83px;
}
.text p {
    font-size: 17px;
}
.text {
    padding-bottom: 39px;
    padding-top: 22px;
}
.item2 img {
    padding-left: 39px;
    padding-right: 24px;
}
.img-text2 {
    padding-bottom: 41px;
}
.img-text2 p {
    font-size: 17px;
}
.img1 img {
   width: 33vw;
   padding-right: 0px;
   padding-left: 39px;
}
.img2 img {
    width: 33vw;
    padding-right: 27px;
}
.img3 img {
    width: 33vw;
    padding-right: 14px;
    padding-left: 14px;
 }
 .links {
     margin-left: 131px;
 }
 .info  {
     padding-top: 12px;
 }
 footer {
     padding-bottom: 50px;
 }
 footer h3 {
     font-size: 22px;
     margin-left: -141px;
     padding-top: 7px;
 }
 
 


/************************/

@media (max-width: 480px) {
        header {
            width: 115vw;
            height: 62vw;
        }
       
        header h2 {
            font-size: 21px;
            padding-top: 29px;
            margin-left: -61px;
        }
        header p {
            font-size: 14px;
           margin-left: -61px;
            padding-top: 80px;
        }
        .container2 {
            padding-left: 5px;
        }
         .nav {
            padding-bottom: 0px;
            margin-right: 25px;
        }
        .nav li {
            font-size: 14px;
        }
        .button {
            font-size: 14px;
        }
        .container {
           margin-left: 0px;
        }
        .text {
            padding-bottom: 7px;
            padding-top: 0px;
        }
        .text h3 {
            font-size: 12px;
        }
        .text p {
            font-size: 12px; 
        }
        .btn {
            font-size: 13px;  
        }
 
     .img-text {
         margin-left: 0px;
         margin-right:0px;
     }
     .img-container {
         padding-right: 0px;
         padding-left: 0px;
     }
     .img-text img {
         margin-left: 26px;
         padding-right:30px;
         padding-left: 0px;
     }
     .text {
        margin-right: 4px;
        margin-left: 27px;
        padding-bottom: 14px;
     }
     .container2 img {
        margin-left: -5px;
        margin-right:0px;
     }
     .item2 img {
         padding-right: 0px;
         padding-left: 23px;
     }
     .img-text2 {
         padding-bottom: 22px;
         padding-top: 1px;
         margin-left: 44px;
     }
     .img-text2 h4 {
         font-size: 12px;
     }

     .img-text2 p {
        font-size: 12px;
     }
     .btn1 {
        font-size: 12px;
     }

     .img1 img {
        padding-left: 38px;
        padding-right: 0px;
     }

     .img2 img {
        padding-left: 17px;
        padding-right: 20px; 
     }

     .img3 img {
        padding-left: 6px;
        padding-right: 0px;
     }




        footer {
            width: 115%;
        }

        footer h3 {
            font-size: 17px;
            margin-left: -188px;
            margin-top: 28px;
        }
        .footerContainer4 {
            font-size: 22px;
        }

        .footerContainer5 {
            margin-left: 0px;
        }


        .links {
            margin-left: 54px;
        }
        .links ul {
            padding-top: 0px;
        }
        .links li {
            font-size: 13px;
        }
        .info  {
            padding-top: 12px;
        }
        .info p {
            font-size: 12px;
        }
      
      
        

}


/************************/

@media (max-width: 414px) {
    header p {
        font-size: 15px;
        padding-top: 95px;
        padding-right: 0px;
        padding-left: 101px;
    }
    header h2 {
        font-size: 16px;
        padding-top: 42px;
    }
    .button {
        font-size: 12px;
    }
    .nav li {
    font-size: 12px;
    }
    .btn {
        font-size: 11px;
    }
    .text {
        padding-bottom: 11px;
    }
    .text h3 {
        font-size: 11px;
    }
    .text p {
        font-size: 10px;
    }
    .img-text2 {
        padding-bottom: 16px;
    }
    .img-text2  h4{
        font-size: 11px;
    }
    .img-text2  p {
        font-size: 10px;
    }
    .btn1 {
        font-size: 11px;
    }
    footer h3 {
        font-size: 14px;
        padding-top: 0px;
   
    }
    .links {
        margin-left: 44px;
    }
    .links li {
        font-size:12px;
        margin-left: 0px;
    }
    .info p {
        font-size:10px; 
    }

}



/************************/

@media (max-width: 375px) {
    header {
        width: 116%;
    }
    header p{
        padding-top: 66px;
        font-size: 13px;
    }
    .nav {
        margin-left: -20px;
    }
    .text {
        padding-bottom: 11px;
       
    }
    .text h3 {
        font-size: 10px;
    }
    .text p {
        font-size: 9px; 
    }
    .btn {
        font-size: 9px;
    }


    .img-text2 {
        padding-bottom: 12px;
     
    }
    .img-text2 h4 {
        font-size: 10px;
    }
    .img-text2 p {
        font-size: 9px; 
    }
    .btn1 {
        font-size: 9px;
    }
    .img1 img {
        padding-left: 37px;
        padding-right: 0px;
    }
    .img2 img {
        padding-left: 15px;
        padding-right: 14px;
    }
    .img3 img {
        padding-left: 7px;
        padding-right: 5px;
    }
    .links {
        margin-left: 35px;
    }
    .footerContainer5 {
        margin-left: -23px;
        padding-top: 8px;
    }

    footer {
        width: 116%;
    }

}
  


    

/************************/
@media (max-width: 360px) {

}







Photo by Gustas Brazaitis on Unsplash